<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Servlet Example 02</display-name>
    <welcome-file-list>
        <welcome-file>/calc.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <display-name>Servlet Example 02</display-name>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>com.apress.servlet.Calculator</servlet-class>
        <init-param>
            <param-name>sleep.time</param-name>
            <param-value>5000</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>
</web-app>